<h1>Add a new event!</h1>

<form action="/event/adding" method="post">
  Name: <input type="text" name="name"><br>
  Location : <select type="text" name="location">
  <option value="Neukölln‎" >Neukölln‎</option>
  <option value="Friedrichshain">Friedrichshain</option>
  <option value="Kreuzberg‎">Kreuzberg‎</option>
  <option value="Mitte">Mitte</option>
  <option value="Charlottenburg">Charlottenburg</option>
  <option value="other">other</option>
</select>
  <br>
  Date: <input type="date" name="date"><br>
  Time: <input type="time" name="time"><br>
  Link: <input type="text" name="link"><br>
<<<<<<< HEAD
  Description: <br>
   <textarea rows="7" cols="60" type="text" name="description"></textarea><br>
  Phone number <input type="text" name="phoneNumber"><br>
  Number of People  <input type="number" name="nbPeople" placeholder="is required"><br>
=======
  Description:  <input type="text" name="description"><br>
  Phone numver <input type="text" name="phoneNumber"><br>
  Number of People  <input type="text" name="nbPeople"><br>
>>>>>>> fdc86e8b478603640882cd3bd116583eada54768
  {{!-- Status of the event  <input type="text" name="status"><br> --}}
  <button>Add an event!</button>
</form>

<a href="/">See all events!!</a>