<h1>Add a new event!</h1>

<form action="/event/adding" method="post">
  Name: <input type="text" name="name"><br>
  Street <input type="text" name="street"><br>
  City <input type="text" name="city"><br>
  Post Code <input type="text" name="postCode"><br>
  Date: <input type="text" name="date"><br>
  Time: <input type="text" name="time"><br>
  Link: <input type="text" name="link"><br>
  Description:  <input type="text" name="description"><br>
  Phone number <input type="text" name="phoneNumber"><br>
  Number of People  <input type="number" name="nbPeople"><br>
  {{!-- Status of the event  <input type="text" name="status"><br> --}}
  <button>Add an event!</button>
</form>

<a href="/">See all events!!</a>