.eventsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 5px solid rgb(218, 142, 92);
  width: 100%;
}

.hoverDiv :hover{
  background-image: url(images/stops.png);
  background-size: cover;
  // background-color: aqua;
  // background-image: none;

}

.eventDiv:hover {
  background-image: none;
}
.eventDiv{
  border: 1px solid rgb(241, 234, 234);
  width: 40%;
  margin: 20px;
  // background-color: rgba(255, 255, 255, 0.2);
  padding: 2%;
  h3 a:hover, .event-link:hover, p.organizer:hover {
    color: white;
  }
}

.mainEventDetails:hover {
  background-image: url(images/orange.png);
  background-size: cover;
  width: auto;
  height: 900px
}

// .eventDetailsDiv :hover {
//   width: 40%;
//   margin: 10% auto auto auto;
//   padding: 2%;
//   background-image: none;
// }
.eventDetailsDiv{
  // width: 40%;
  margin: 5% auto auto auto;
  padding: 2%;
}

.navLogo{
  font-family: 'Shadows Into Light', cursive;
  // font-size: 25px

}
#userName{
  color: white;
  // font-size: 17px
}
header {
  font-family: 'Shadows Into Light', cursive;
  // background-color: rgb(200, 255, 0);
  text-align: center;
  height: 150px;
  // display: flex;
  // flex-direction: row;
}

header :hover {
  background-image: url("https://media.giphy.com/media/PvKlwYTiKATRe/giphy.gif");
  height: 150px;
}

.eventText{
 width: 80%;
  border: 5px solid rgb(218, 92, 92);
}

.searchDiv {
  // background-color: black;
  height: 50px;
  width: 300px;
  margin: auto;
  text-align: center;
}

// .headerImg{
//   width: 25%;
//   height:100%;
// }

.profile-picture{
  object-fit: cover;
  height:50px;
  width:50px;
  border-radius: 100px;
}

.bigProfilePic{
  // height:300px;
  // width:300px;
}
