@import '../../node_modules/bootstrap/scss/bootstrap';
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  // background-color: rgba(255, 255, 255, 0.863);
}

a {
  color: black;
}

.eventsDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  // border: 5px solid rgb(218, 142, 92);
  width: 100%;
}

.eventDiv{
  border: 1px solid rgb(241, 234, 234);
  width: 70%;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.767);
  padding: 2%;
}

header {
  font-family: 'Shadows Into Light', cursive;
  background-color: rgb(200, 255, 0);
  text-align: center;
  height: 150px;
}

.eventText{
 width: 80%;
  border: 5px solid rgb(218, 92, 92);
}

.searchDiv {
  // background-color: black;
  height: 50px;
  width: 300px;
  margin: auto;
  text-align: center;
}